

<form autocomplete="on" id='flight-update-form' class='update-form'>
  <input type="hidden" name='flight[id]' value='{{flight.id}}'>
  <label>Flight Type:</label>
  <input class="flight-input" type="text" name="flight[flight_type]"  value='{{flight.flight_type}}'>
  <br>
  <label>Date:</label><input class="flight-input" type="date" name="flight[date]" required autocomplete="off" value='{{flight.date}}'>
  <br>
  <label>Time:</label> <input class="flight-input" type='time' name="flight[time]" required autocomplete="off" value='{{flight.time}}'>
  <br>
  <label>Location:</label> <input class="flight-input" type="text"  name="flight[launch]" value='{{flight.launch}}'>
  <br>
  <label>Landing Zone:</label> <input class="flight-input" type="text"  name="flight[lz]" value='{{flight.lz}}'>
  <br>
  <label>Duration:</label> <span class='input-desc'>hrs.</span><input class="flight-input number-box" type="number" name="flight[hrs]"  placeholder="0" autocomplete="off" value='{{flight.hrs}}'>
  <span>mins.</span><input class="flight-input number-box" type="number" name="flight[min]"  placeholder="0" autocomplete="off"value='{{flight.min}}'>
  <br>
  <label>Distance:</label><span class='input-desc'>kms.</span> <input class="flight-input number-box"  type="number" step="0.01" name="flight[distance]" placeholder='km' value='{{flight.distance}}'>
  <br>
  <label>Glider:</label> <input class="flight-input" type="text" name="flight[wing]" placeholder="glider" value='{{flight.wing}}' >
  <br>
  <label>Notes:</label>
  <input class="flight-input edit-note" type='text' style='width: 50%;' name="flight[notes]" placeholder="enter notes here..." autocomplete="off" value='{{flight.notes}}'>
  <br>
  <input type="submit" class='btn navlink' value='Save Changes'>
</form>
