<table>
  <thead class='table-header'>
      <th>Flight Type</th>
      <th>Date</th>
      <th>Time</th>
      <th>kms.</th>
      <th>hrs.</th>
      <th>Launch Location</th>
      <th>Landing Location</th>
      <th>Wing</th>
      <th>Notes</th>
      <th></th>
  </thead>
  <tbody
  {{#each flights as |flight|}}
    <tr data-id="{{flight.id}}">
      <td>{{flight.flight_type}}</td>
      <td>{{flight.date}}</td>
      <td>{{flight.time}}</td>
      <td>{{flight.distance}}</td>
      <td>{{flight.duration}}</td>
      <td>{{flight.launch}}</td>
      <td>{{flight.lz}}</td>
      <td>{{flight.wing}}</td>
      <td>{{flight.notes}}</td>
      <td ><button class='edit' data-id="{{flight.id}}">edit</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
